html {
  font-family: Helvetica;  
  margin-left: auto;
  margin-right: auto;
} 

table {
  text-align: center;
  table-layout: fixed;
  background-color: white;
}

img {
  display: block;
  float: right;
  background: white;
  max-width: 180px;
  max-height: 180px;
  width: auto;
  height: auto;
  border: 2px solid black;
  padding: 5px;
}

td, th {
  border: 1px solid blue;
  padding: 5px;
}

th {
  background-color: blue;
  color: white;
}

div.type {
  color: black;
  width: 100px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-width: 3px;
  border-color: #999999;
}

#type_one {
  width: 50%;
  float: left;
}
#type_two{
  width: 50%;
  float: right;
}

span.dropt {
  background: #ddddff;
}

span.dropt:hover{
  text-decoration: none;
  background: #ffffff;
  z-index: 6;
}

span.dropt span {
  position: absolute;
  left: -9999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  z-index: 6;
}

span.dropt:hover span{
  left: 2%; 
  background: #ffffff;
}